{% extends 'layout.html' %}
{% block body_content %}

{% for todo in all_todos %}

{{ todo.task }} 
{% if todo.complete %}
&#9989
{% endif %}
<br>
{% if todo.complete %}
<form action='{{ url_for('incomplete', todo_id=todo.id) }}'>
	<button style="color:Pink;">Incomplete</button>
</form>
{% else %}
<form action='{{ url_for('complete', todo_id=todo.id) }}'>
        <button style="color:Pink;">Complete</button>
</form> 
{% endif %}
<form action='{{ url_for('update', todo_id=todo.id)}}'>
	<button style="color:Pink;">Update</button>
</form>
<form action='{{ url_for('delete', todo_id=todo.id)}}'>
	<button style="color:Pink;">Delete</button>
</form>
<br><br>

{% endfor %}

{% endblock body_content %}
